{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    
    {% include 'partials/head.html' %}

</head>
<body class="bg-gray-50 font-sans antialiased">

    {% include 'partials/navbar.html' %}

    <div class="pt-24">
        
        {% include 'partials/dataset_section.html' %}
        {% include 'partials/model_section.html' %}
        {% include 'partials/evaluate_section.html' %}
        
    </div>

    {% include 'partials/footer.html' %}
</body>
</html>

<script>
    const DJANGO_CONFIG = {
        generateDatasetUrl: "{% url 'generate_dataset' %}",
        trainModelUrl: "{% url 'train_model' %}",
        csrfToken: "{{ csrf_token }}"
    };
</script>
<script src="{% static 'js/script.js' %}"></script>